<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>DSDT</key>
		<dict>
			<key>Fixes</key>
			<dict>
				<key>AddDTGP</key>
				<false/>
				<key>AddHDMI</key>
				<false/>
				<key>DeleteUnused</key>
				<false/>
				<key>FakeLPC</key>
				<false/>
				<key>FixAirport</key>
				<false/>
				<key>FixDisplay</key>
				<false/>
				<key>FixHDA</key>
				<false/>
				<key>FixHPET</key>
				<false/>
				<key>FixLAN</key>
				<true/>
				<key>FixRTC</key>
				<false/>
				<key>FixShutdown</key>
				<true/>
				<key>FixUSB</key>
				<false/>
			</dict>
			<key>Name</key>
			<string>DSDT.aml</string>
		</dict>
		<key>HaltEnabler</key>
		<true/>
		<key>SSDT</key>
		<dict>
			<key>EnableC6</key>
			<false/>
			<key>Generate</key>
			<dict>
				<key>CStates</key>
				<false/>
				<key>PStates</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>Boot</key>
	<dict>
		<key>Arguments</key>
		<string>npci=0x2000 nvda_drv=1</string>
		<key>DefaultLoader</key>
		<string>boot.efi</string>
		<key>DefaultVolume</key>
		<string>LastBootedVolume</string>
		<key>Fast</key>
		<true/>
		<key>Legacy</key>
		<string>PBR</string>
		<key>NeverHibernate</key>
		<true/>
	</dict>
	<key>BootGraphics</key>
	<dict>
		<key>EFILoginHiDPI</key>
		<integer>1</integer>
		<key>UIScale</key>
		<integer>1</integer>
	</dict>
	<key>CPU</key>
	<dict>
		<key>C6</key>
		<false/>
		<key>UseARTFrequency</key>
		<false/>
	</dict>
	<key>Devices</key>
	<dict>
		<key>Audio</key>
		<dict>
			<key>AFGLowPowerState</key>
			<true/>
			<key>ResetHDA</key>
			<true/>
		</dict>
		<key>ForceHPET</key>
		<false/>
		<key>HDMIInjection</key>
		<false/>
		<key>InjectHDMI</key>
		<false/>
		<key>InjectLAN</key>
		<false/>
		<key>LANInjection</key>
		<true/>
		<key>USB</key>
		<dict>
			<key>AddClockID</key>
			<false/>
			<key>FixOwnership</key>
			<false/>
			<key>Inject</key>
			<true/>
		</dict>
	</dict>
	<key>GUI</key>
	<dict>
		<key>EmbeddedThemeType</key>
		<string>Dark</string>
		<key>Hide</key>
		<array>
			<string>Preboot</string>
			<string>Legacy</string>
		</array>
		<key>KbdPrevLang</key>
		<true/>
		<key>Language</key>
		<string>en:0</string>
		<key>Mouse</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>Scan</key>
		<true/>
		<key>TextOnly</key>
		<true/>
		<key>Theme</key>
		<string>embedded</string>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>Inject</key>
		<dict>
			<key>ATI</key>
			<false/>
			<key>NVidia</key>
			<false/>
		</dict>
		<key>RadeonDeInit</key>
		<false/>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleRTC</key>
		<true/>
		<key>KernelCpu</key>
		<false/>
		<key>KernelToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>Disable panic kext logging on 10.13 Release kernel</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>igKEwHRE</data>
				<key>MatchOS</key>
				<string>10.13.x</string>
				<key>Replace</key>
				<data>igKEwOtE</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Disable panic kext logging on 10.14 Release kernel</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>igKEwHRC</data>
				<key>MatchOS</key>
				<string>10.14.1,10.14.2,10.14.3</string>
				<key>Replace</key>
				<data>igKEwOtC</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Disable panic kext logging on 10.14 Release kernel</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>AIoChMB0</data>
				<key>MatchOS</key>
				<string>10.14.4,10.14.5,10.14.6</string>
				<key>Replace</key>
				<data>AIoChMDr</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - commpage_populate -remove rdmsr</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>uaABAAAPMg==</data>
				<key>MatchOS</key>
				<string>10.13.x,10.14.x</string>
				<key>Replace</key>
				<data>Dx+AAAAAAA==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - cpu_topology_sort -disable _x86_validate_topology</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>6Ar2//+c</data>
				<key>MatchOS</key>
				<string>10.13.x</string>
				<key>Replace</key>
				<data>Dx9EAACc</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - cpu_topology_sort -disable _x86_validate_topology</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>6Kn1//+c</data>
				<key>MatchOS</key>
				<string>10.14.1,10.14.2,10.14.3</string>
				<key>Replace</key>
				<data>Dx9EAACc</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - cpu_topology_sort -disable _x86_validate_topology</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>6Jn1//+c</data>
				<key>MatchOS</key>
				<string>10.14.4,10.14.5,10.14.6</string>
				<key>Replace</key>
				<data>Dx9EAACc</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - cpuid_set_cache_info - cpuid 0x8000001D instead 0</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>McAx2zHJMdIPokGJxkGJ0YM9ygWNAAB0GEiNPZKSXwAx9jHAQYnIRInyidno6IlYAEGD/gQPgvoBAABFMfbrDGYPH4QAAAAAAA==</data>
				<key>MatchBuild</key>
				<string>17G65,17G66</string>
				<key>MatchOS</key>
				<string>10.13.6</string>
				<key>Replace</key>
				<data>uB0AAIAx2zHJMdIPokGJxkGJ0YM9xwWNAAB0G0iNPY+SXwC+HQAAgDHAQYnIRInyidno4olYAEGD/gQPgvQBAABFMfbrBg8fAA==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - cpuid_set_cache_info - cpuid 0x8000001D instead 0</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>McAx2zHJMdIPokGJxkGJ0YM9yu2MAAB0GEiNPQ+GXwAx9jHAQYnIRInyidno2HpYAEGD/gQPgvoBAABFMfbrDGYPH4QAAAAAAA==</data>
				<key>MatchBuild</key>
				<string>17G5019</string>
				<key>MatchOS</key>
				<string>10.13.6</string>
				<key>Replace</key>
				<data>uB0AAIAx2zHJMdIPokGJxkGJ0YM9x+2MAAB0G0iNPQyGXwC+HQAAgDHAQYnIRInyidno0npYAEGD/gQPgvQBAABFMfbrBg8fAA==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - cpuid_set_cache_info - cpuid 0x8000001D instead 0</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>McAx2zHJMdIPokGJxkGJ0YM9yv2MAAB0GEiNPd+JXwAx9jHAQYnIRInyidnoqH5YAEGD/gQPgvoBAABFMfbrDGYPH4QAAAAAAA==</data>
				<key>MatchBuild</key>
				<string>17G6029,17G6030</string>
				<key>MatchOS</key>
				<string>10.13.6</string>
				<key>Replace</key>
				<data>uB0AAIAx2zHJMdIPokGJxkGJ0YM9x/2MAAB0G0iNPdyJXwC+HQAAgDHAQYnIRInyidnoon5YAEGD/gQPgvQBAABFMfbrBg8fAA==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - cpuid_set_cache_info - cpuid 0x8000001D instead 0</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>McAx2zHJMdIPokGJxkGJ0YM92gaNAAB0GEiNPRmWXwAx9jHAQYnIRInyidnouIpYAEGD/gQPgvoBAABFMfbrDGYPH4QAAAAAAA==</data>
				<key>MatchBuild</key>
				<string>17G7024</string>
				<key>MatchOS</key>
				<string>10.13.6</string>
				<key>Replace</key>
				<data>uB0AAIAx2zHJMdIPokGJxkGJ0YM91waNAAB0G0iNPRaWXwC+HQAAgDHAQYnIRInyidnosopYAEGD/gQPgvQBAABFMfbrBg8fAA==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - cpuid_set_cache_info - cpuid 0x8000001D instead 0</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>McAx2zHJMdIPokGJxkGJ0YM9+kGYAAB0GEiNPSvZZwAx9jHAQYnIRInyidno2CxgAEGD/gQPgvsBAABFMfbrDGYPH4QAAAAAAA==</data>
				<key>MatchOS</key>
				<string>10.14.1</string>
				<key>Replace</key>
				<data>uB0AAIAx2zHJMdIPokGJxkGJ0YM990GYAAB0G0iNPSjZZwC+HQAAgDHAQYnIRInyidno0ixgAEGD/gQPgvUBAABFMfbrBg8fAA==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - cpuid_set_cache_info - cpuid 0x8000001D instead 0</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>McAx2zHJMdIPokGJxkGJ0YM9SiSYAAB0GEiNPQvGZwAx9jHAQYnIRInyidnoWBpgAEGD/gQPgvsBAABFMfbrDGYPH4QAAAAAAA==</data>
				<key>MatchOS</key>
				<string>10.14.3</string>
				<key>Replace</key>
				<data>uB0AAIAx2zHJMdIPokGJxkGJ0YM9RySYAAB0G0iNPQjGZwC+HQAAgDHAQYnIRInyidnoUhpgAEGD/gQPgvUBAABFMfbrBg8fAA==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - cpuid_set_cache_info - cpuid 0x8000001D instead 0</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>McAx2zHJMdIPokGJxoM9re2XAAB0G0GJ0UiNPRehZwAx9jHAQYnIRInyidnoWP1fAEGD/gQPgvgBAABFMfbrDGYPH4QAAAAAAA==</data>
				<key>MatchOS</key>
				<string>10.14.4</string>
				<key>Replace</key>
				<data>uB0AAIAx2zHJMdIPokGJxkGJ0YM9p+2XAAB0G0iNPRShZwC+HQAAgDHAQYnIRInyidnoUv1fAEGD/gQPgvUBAABFMfbrBg8fAA==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - cpuid_set_cache_info - cpuid 0x8000001D instead 0</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>McAx2zHJMdIPokGJxoM9JWKYAAB0G0GJ0UiNPRy0ZwAx9jHAQYnIRInyidnoiBBgAEGD/gQPgvgBAABFMfbrDGYPH4QAAAAAAA==</data>
				<key>MatchOS</key>
				<string>10.14.5</string>
				<key>Replace</key>
				<data>uB0AAIAx2zHJMdIPokGJxkGJ0YM9H2KYAAB0G0iNPRm0ZwC+HQAAgDHAQYnIRInyidnoghBgAEGD/gQPgvUBAABFMfbrBg8fAA==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>xlnc - cpuid_set_cache_info - cpuid 0x8000001D instead 0</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>McAx2zHJMdIPokGJxoM93W+YAAB0G0GJ0UiNPRnAZwAx9jHAQYnIRInyidnoGBhgAEGD/gQPgvgBAABFMfbrDGYPH4QAAAAAAA==</data>
				<key>MatchOS</key>
				<string>10.14.6</string>
				<key>Replace</key>
				<data>uB0AAIAx2zHJMdIPokGJxkGJ0YM912+YAAB0G0iNPRbAZwC+HQAAgDHAQYnIRInyidnoEhhgAEGD/gQPgvIBAABFMfbrBg8fAA==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - cpuid_set_cache_info - cpuid 0x8000001D instead 4</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>uAQAAABEifFEiQ==</data>
				<key>MatchOS</key>
				<string>10.13.x,10.14.x</string>
				<key>Replace</key>
				<data>uB0AAIBEifFEiQ==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - cpuid_set_cache_info - don't set cpuid_cores_per_package</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>wega/8A=</data>
				<key>MatchOS</key>
				<string>10.13.x,10.14.x</string>
				<key>Replace</key>
				<data>Dx8A6wY=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - cpuid_set_generic_info - remove wrmsr</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>uYsAAAAxwDHSDzA=</data>
				<key>MatchOS</key>
				<string>10.13.x,10.14.x</string>
				<key>Replace</key>
				<data>Zg8fhAAAAAAAZpA=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - cpuid_set_generic_info - set microcode=186</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>uYsAAAAPMg==</data>
				<key>MatchOS</key>
				<string>10.13.x,10.14.x</string>
				<key>Replace</key>
				<data>uroAAABmkA==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - cpuid_set_generic_info - set flag=1</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>uRcAAAAPMsHqEoDiBw==</data>
				<key>MatchOS</key>
				<string>10.13.x,10.14.x</string>
				<key>Replace</key>
				<data>sgFmDx+EAAAAAABmkA==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - cpuid_set_generic_info - disable check to allow leaf7</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>ADoPgg==</data>
				<key>MatchOS</key>
				<string>10.13.x,10.14.x</string>
				<key>Replace</key>
				<data>AAAPgg==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - cpuid_set_info - GenuineIntel to AuthenticAMD </string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>R2VudWluZUludGVsAA==</data>
				<key>MatchOS</key>
				<string>10.13.x,10.14.x</string>
				<key>Replace</key>
				<data>QXV0aGVudGljQU1EAA==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - cpuid_set_cpufamily - force CPUFAMILY_INTEL_SKYLAKE </string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>MduAPbgLjQAGdVw=</data>
				<key>MatchBuild</key>
				<string>17G65,17G66</string>
				<key>MatchOS</key>
				<string>10.13.6</string>
				<key>Replace</key>
				<data>u58h/DfpXQAAAJA=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - cpuid_set_cpufamily - force CPUFAMILY_INTEL_SKYLAKE </string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>MduAPbjzjAAGdVw=</data>
				<key>MatchBuild</key>
				<string>17G5019</string>
				<key>MatchOS</key>
				<string>10.13.6</string>
				<key>Replace</key>
				<data>u58h/DfpXQAAAJA=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - cpuid_set_cpufamily - force CPUFAMILY_INTEL_SKYLAKE </string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>MduAPbgDjQAGdVw=</data>
				<key>MatchBuild</key>
				<string>17G6029,17G6030</string>
				<key>MatchOS</key>
				<string>10.13.6</string>
				<key>Replace</key>
				<data>u58h/DfpXQAAAJA=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - cpuid_set_cpufamily - force CPUFAMILY_INTEL_SKYLAKE </string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>MduAPagMjQAGdVw=</data>
				<key>MatchBuild</key>
				<string>17G7024</string>
				<key>MatchOS</key>
				<string>10.13.6</string>
				<key>Replace</key>
				<data>u58h/DfpXQAAAJA=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - cpuid_set_cpufamily - force CPUFAMILY_INTEL_SKYLAKE </string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>MduAPehHmAAGdVw=</data>
				<key>MatchOS</key>
				<string>10.14.1</string>
				<key>Replace</key>
				<data>u58h/DfpXQAAAJA=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - cpuid_set_cpufamily - force CPUFAMILY_INTEL_SKYLAKE </string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>MduAPTgqmAAGdVw=</data>
				<key>MatchOS</key>
				<string>10.14.3</string>
				<key>Replace</key>
				<data>u58h/DfpXQAAAJA=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - cpuid_set_cpufamily - force CPUFAMILY_INTEL_SKYLAKE </string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>MduAPZjzlwAGdVw=</data>
				<key>MatchOS</key>
				<string>10.14.4</string>
				<key>Replace</key>
				<data>u58h/DfpXQAAAJA=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - cpuid_set_cpufamily - force CPUFAMILY_INTEL_SKYLAKE </string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>MduAPchomAAGdVw=</data>
				<key>MatchOS</key>
				<string>10.14.5</string>
				<key>Replace</key>
				<data>u58h/DfpXQAAAJA=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>xlnc - cpuid_set_cpufamily - force CPUFAMILY_INTEL_SKYLAKE </string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>MduAPUh5mAAGdVw=</data>
				<key>MatchOS</key>
				<string>10.14.6</string>
				<key>Replace</key>
				<data>u58h/DfpXQAAAJA=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - cpuid_set_info - ryzen cores and logicals count</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>PexeO1d0Gz28T+p4dTaLBcgKjQCJBYoLjQCLDcAKjQDrFrk1AAAADzIPt8jB6BCD4A+JBWwLjQCJDWoLjQCFwHVK6zC5NQAAAA8ySMHiIInBSAnRuQEAAQAPRcgPt9GJyMHoEIkFOguNAIkVOAuNAIXAdRiLBWIKjQCJBSQLjQCLBVoKjQCJBRwLjQA=</data>
				<key>MatchBuild</key>
				<string>17G65,17G66</string>
				<key>MatchOS</key>
				<string>10.13.6</string>
				<key>Replace</key>
				<data>uAgAAIAx2zHJMdIPokGJwEGJzkGJ0YM97wuNAAB0G2YPH4QAAAAAAGYPH4QAAAAAAGYPH4QAAAAAAEUPtvZB/8a4HgAAgDHbMckx0g+iQYnAQYnRZg8fhAAAAAAAD7bP/8Ex0kSJ8PfxiQVtCo0ARIk1agqNAIM9JwuNAAB1DYkFHwuNAESJNRwLjQA=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - cpuid_set_info - ryzen cores and logicals count</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>PexeO1d0Gz28T+p4dTaLBcjyjACJBYrzjACLDcDyjADrFrk1AAAADzIPt8jB6BCD4A+JBWzzjACJDWrzjACFwHVK6zC5NQAAAA8ySMHiIInBSAnRuQEAAQAPRcgPt9GJyMHoEIkFOvOMAIkVOPOMAIXAdRiLBWLyjACJBSTzjACLBVryjACJBRzzjAA=</data>
				<key>MatchBuild</key>
				<string>17G5019</string>
				<key>MatchOS</key>
				<string>10.13.6</string>
				<key>Replace</key>
				<data>uAgAAIAx2zHJMdIPokGJwEGJzkGJ0YM97/OMAAB0G2YPH4QAAAAAAGYPH4QAAAAAAGYPH4QAAAAAAEUPtvZB/8a4HgAAgDHbMckx0g+iQYnAQYnRZg8fhAAAAAAAD7bP/8Ex0kSJ8PfxiQVt8owARIk1avKMAIM9J/OMAAB1DYkFH/OMAESJNRzzjAA=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - cpuid_set_info - ryzen cores and logicals count</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>PexeO1d0Gz28T+p4dTaLBcgCjQCJBYoDjQCLDcACjQDrFrk1AAAADzIPt8jB6BCD4A+JBWwDjQCJDWoDjQCFwHVK6zC5NQAAAA8ySMHiIInBSAnRuQEAAQAPRcgPt9GJyMHoEIkFOgONAIkVOAONAIXAdRiLBWICjQCJBSQDjQCLBVoCjQCJBRwDjQA=</data>
				<key>MatchBuild</key>
				<string>17G6029,17G6030</string>
				<key>MatchOS</key>
				<string>10.13.6</string>
				<key>Replace</key>
				<data>uAgAAIAx2zHJMdIPokGJwEGJzkGJ0YM97wONAAB0G2YPH4QAAAAAAGYPH4QAAAAAAGYPH4QAAAAAAEUPtvZB/8a4HgAAgDHbMckx0g+iQYnAQYnRZg8fhAAAAAAAD7bP/8Ex0kSJ8PfxiQVtAo0ARIk1agKNAIM9JwONAAB1DYkFHwONAESJNRwDjQA=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - cpuid_set_info - ryzen cores and logicals count</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>PexeO1d0Gz28T+p4dTaLBbgLjQCJBXoMjQCLDbALjQDrFrk1AAAADzIPt8jB6BCD4A+JBVwMjQCJDVoMjQCFwHVK6zC5NQAAAA8ySMHiIInBSAnRuQEAAQAPRcgPt9GJyMHoEIkFKgyNAIkVKAyNAIXAdRiLBVILjQCJBRQMjQCLBUoLjQCJBQwMjQA=</data>
				<key>MatchBuild</key>
				<string>17G7024</string>
				<key>MatchOS</key>
				<string>10.13.6</string>
				<key>Replace</key>
				<data>uAgAAIAx2zHJMdIPokGJwEGJzkGJ0WYPH4QAAAAAAGYPH4QAAAAAAGYPH4QAAAAAAGYPH4QAAAAAAEUPtvZB/8a4HgAAgDHbMckx0g+iQYnAQYnRZg8fhAAAAAAAD7bP/8Ex0kSJ8PfxiQVdC40ARIk1WguNAIM9FwyNAAB1DYkFDwyNAESJNQwMjQA=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - cpuid_set_info - ryzen cores and logicals count</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>PexeO1d0Gz28T+p4dSaLBfhGmACJBbpHmACLDfBGmADrOLk1AAAADzIPt8jB6BCD4A/rILk1AAAADzJIweIgicFICdG6AQABAA9F0A+3yonQwegQiQV6R5gAiQ14R5gAhcB0Gg==</data>
				<key>MatchOS</key>
				<string>10.14.1</string>
				<key>Replace</key>
				<data>uAgAAIAx2zHJMdIPokGJwEGJzkGJ0UUPtvZB/8a4HgAAgDHbMckx0g+iQYnAQYnRDx9EAAAPts//wTHSRInw9/GJBcVGmABEiTXCRpgAgz1/R5gAAHUNiQV3R5gARIk1dEeYAA==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - cpuid_set_info - ryzen cores and logicals count</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>PexeO1d0Gz28T+p4dSaLBUgpmACJBQoqmACLDUApmADrOLk1AAAADzIPt8jB6BCD4A/rILk1AAAADzJIweIgicFICdG6AQABAA9F0A+3yonQwegQiQXKKZgAiQ3IKZgAhcB0Gg==</data>
				<key>MatchOS</key>
				<string>10.14.3</string>
				<key>Replace</key>
				<data>uAgAAIAx2zHJMdIPokGJwEGJzkGJ0UUPtvZB/8a4HgAAgDHbMckx0g+iQYnAQYnRDx9EAAAPts//wTHSRInw9/GJBRUpmABEiTUSKZgAgz3PKZgAAHUNiQXHKZgARIk1xCmYAA==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - cpuid_set_info - ryzen cores and logicals count</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>PexeO1d0Gz28T+p4dSaLBafylwCJBWnzlwCLDZ/ylwDrOLk1AAAADzIPt8jB6BCD4A/rILk1AAAADzJIweIgicFICdG6AQABAA9F0A+3yonQwegQiQUp85cAiQ0n85cAhcB0Gg==</data>
				<key>MatchOS</key>
				<string>10.14.4</string>
				<key>Replace</key>
				<data>uAgAAIAx2zHJMdIPokGJwEGJzkGJ0UUPtvZB/8a4HgAAgDHbMckx0g+iQYnAQYnRDx9EAAAPts//wTHSRInw9/GJBXTylwBEiTVx8pcAgz0u85cAAHUNiQUm85cARIk1I/OXAA==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - cpuid_set_info - ryzen cores and logicals count</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>PexeO1d0Gz28T+p4dSaLBddnmACJBZlomACLDc9nmADrOLk1AAAADzIPt8jB6BCD4A/rILk1AAAADzJIweIgicFICdG6AQABAA9F0A+3yonQwegQiQVZaJgAiQ1XaJgAhcB0Gg==</data>
				<key>MatchOS</key>
				<string>10.14.5</string>
				<key>Replace</key>
				<data>uAgAAIAx2zHJMdIPokGJwEGJzkGJ0UUPtvZB/8a4HgAAgDHbMckx0g+iQYnAQYnRDx9EAAAPts//wTHSRInw9/GJBaRnmABEiTWhZ5gAgz1eaJgAAHUNiQVWaJgARIk1U2iYAA==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>xlnc - cpuid_set_info - ryzen cores and logicals count</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>PexeO1d0Gz28T+p4dSaLBVd4mACJBRl5mACLDU94mADrOLk1AAAADzIPt8jB6BCD4A/rILk1AAAADzJIweIgicFICdG6AQABAA9F0A+3yonQwegQiQXZeJgAiQ3XeJgAhcB0Gg==</data>
				<key>MatchOS</key>
				<string>10.14.6</string>
				<key>Replace</key>
				<data>uAgAAIAx2zHJMdIPokGJwEGJzkGJ0UUPtvZB/8a4HgAAgDHbMckx0g+iQYnAQYnRDx9EAAAPts//wTHSRInw9/GJBSR4mABEiTUheJgAgz3eeJgAAHUNiQXWeJgARIk103iYAA==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - 3 x i386_init - remove rdmsr</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>uZkBAAAPMkjB4iCJxkgJ1rmYAQAADzJIweIgicBICcK/WAIxBTHJRTHA</data>
				<key>MatchOS</key>
				<string>10.13.x,10.14.x</string>
				<key>Replace</key>
				<data>Zg8fhAAAAAAAZg8fhAAAAAAAZg8fhAAAAAAAZg8fhAAAAAAAZg8fRAAA</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - tsc_init - replace skylake with zen</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>RIug0AEAAIuY1AEAAEiNPeuNXgDo2gMAAEiFwLkANm4BSA9FyEiJyEkPr8RFMf8x0kj380iJBQCrhQBIiQUhq4UASLrbNLbXgt4bQ0iJyEj34kjB6hJpwkBCDwApwUiNPaeNXgAxwInWicpMieFJidjobTNXAEiLHeaqhQA=</data>
				<key>MatchBuild</key>
				<string>17G65,17G66</string>
				<key>MatchOS</key>
				<string>10.13.6</string>
				<key>Replace</key>
				<data>uWQAAcAPMg+2yInGwe4Ig+Y/RTH/MdJIichI9/ZIicZIacYAwusLSAH2SIkFCquFADHSSPf2SInDSIkdI6uFAEiJNQyrhQBmDx+EAAAAAABmDx+EAAAAAABmDx+EAAAAAABmDx+EAAAAAABmDx+EAAAAAABmDx+EAAAAAAA=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - tsc_init - replace skylake with zen</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>RIug0AEAAIuY1AEAAEiNPceBXgDo2gMAAEiFwLkANm4BSA9FyEiJyEkPr8RFMf8x0kj380iJBQCThQBIiQUhk4UASLrbNLbXgt4bQ0iJyEj34kjB6hJpwkBCDwApwUiNPYOBXgAxwInWicpMieFJidjoXSRXAEiLHeaShQA=</data>
				<key>MatchBuild</key>
				<string>17G5019</string>
				<key>MatchOS</key>
				<string>10.13.6</string>
				<key>Replace</key>
				<data>uWQAAcAPMg+2yInGwe4Ig+Y/RTH/MdJIichI9/ZIicZIacYAwusLSAH2SIkFCpOFADHSSPf2SInDSIkdI5OFAEiJNQyThQBmDx+EAAAAAABmDx+EAAAAAABmDx+EAAAAAABmDx+EAAAAAABmDx+EAAAAAABmDx+EAAAAAAA=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - tsc_init - replace skylake with zen</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>RIug0AEAAIuY1AEAAEiNPZeFXgDo2gMAAEiFwLkANm4BSA9FyEiJyEkPr8RFMf8x0kj380iJBQCjhQBIiQUho4UASLrbNLbXgt4bQ0iJyEj34kjB6hJpwkBCDwApwUiNPVOFXgAxwInWicpMieFJidjoLShXAEiLHeaihQA=</data>
				<key>MatchBuild</key>
				<string>17G6029,17G6030</string>
				<key>MatchOS</key>
				<string>10.13.6</string>
				<key>Replace</key>
				<data>uWQAAcAPMg+2yInGwe4Ig+Y/RTH/MdJIichI9/ZIicZIacYAwusLSAH2SIkFCqOFADHSSPf2SInDSIkdI6OFAEiJNQyjhQBmDx+EAAAAAABmDx+EAAAAAABmDx+EAAAAAABmDx+EAAAAAABmDx+EAAAAAABmDx+EAAAAAAA=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - tsc_init - replace skylake with zen</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>RIug2AEAAIuY3AEAAEiNPd+QXgDo2gMAAEiFwLkANm4BSA9FyEiJyEkPr8RFMf8x0kj380iJBWiqhQBIiQWJqoUASLrbNLbXgt4bQ0iJyEj34kjB6hJpwkBCDwApwUiNPZuQXgAxwInWicpMieFJidjorTJXAEiLHU6qhQA=</data>
				<key>MatchBuild</key>
				<string>17G7024</string>
				<key>MatchOS</key>
				<string>10.13.6</string>
				<key>Replace</key>
				<data>uWQAAcAPMg+2yInGwe4Ig+Y/RTH/MdJIichI9/ZIicZIacYAwusLSAH2SIkFcqqFADHSSPf2SInDSIkdi6qFAEiJNXSqhQBmDx+EAAAAAABmDx+EAAAAAABmDx+EAAAAAABmDx+EAAAAAABmDx+EAAAAAABmDx+EAAAAAAA=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - tsc_init - replace skylake with zen</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>RIug0AEAAIuY1AEAAEiNPWqsZgDo8AMAAEiFwLkANm4BSA9FyEiJyEkPr8Qx0kj380iJBenFkABIiQUKxpAASLrbNLbXgt4bQ0iJyEj34kUx/0jB6hJpwkBCDwApwUiNPSasZgAxwInWicpMieFJidjoQ6teAEiLHczFkAA=</data>
				<key>MatchOS</key>
				<string>10.14.1</string>
				<key>Replace</key>
				<data>uWQAAcAPMg+2yInGwe4Ig+Y/RTH/MdJIichI9/ZIicZIacYAwusLSAH2SIkF8MWQADHSSPf2SInDSIkdCcaQAEiJNfLFkABmDx+EAAAAAABmDx+EAAAAAABmDx+EAAAAAABmDx+EAAAAAABmDx+EAAAAAABmDx+EAAAAAAA=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - tsc_init - replace skylake with zen</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>RIug0AEAAIuY1AEAAEiNPTqZZgDo8AMAAEiFwLkANm4BSA9FyEiJyEkPr8Qx0kj380iJBSmokABIiQVKqJAASLrbNLbXgt4bQ0iJyEj34kUx/0jB6hJpwkBCDwApwUiNPfaYZgAxwInWicpMieFJidjos5heAEiLHQyokAA=</data>
				<key>MatchOS</key>
				<string>10.14.3</string>
				<key>Replace</key>
				<data>uWQAAcAPMg+2yInGwe4Ig+Y/RTH/MdJIichI9/ZIicZIacYAwusLSAH2SIkFMKiQADHSSPf2SInDSIkdSaiQAEiJNTKokABmDx+EAAAAAABmDx+EAAAAAABmDx+EAAAAAABmDx+EAAAAAABmDx+EAAAAAABmDx+EAAAAAAA=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - tsc_init - replace skylake with zen</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>SInISQ+vx0Ux7THSSff0SInGSIkFA2eQAEi62zS214LeG0NIichI9+JIiTUUZ5AASMHqEmnCQEIPACnBSI09QWpmADHAidaJykyJ+U2J4OjgcF4ASIsd6WaQAA==</data>
				<key>MatchOS</key>
				<string>10.14.4</string>
				<key>Replace</key>
				<data>uWQAAcAPMg+2yInGwe4Ig+Y/MdJIichI9/ZIicZIaf4AwusLSAH2SIk97maQADHSSIn4SPf2SInDSIkdBGeQAEiJNe1mkABmDx+EAAAAAABmDx+EAAAAAABmkA==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - tsc_init - replace skylake with zen</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>SInISQ+vx0Ux7THSSff0SInGSIkFm9CQAEi62zS214LeG0NIichI9+JIiTWs0JAASMHqEmnCQEIPACnBSI09onVmADHAidaJykyJ+U2J4OjQd14ASIsdgdCQAA==</data>
				<key>MatchOS</key>
				<string>10.14.5</string>
				<key>Replace</key>
				<data>uWQAAcAPMg+2yInGwe4Ig+Y/MdJIichI9/ZIicZIaf4AwusLSAH2SIk9htCQADHSSIn4SPf2SInDSIkdnNCQAEiJNYXQkABmDx+EAAAAAABmDx+EAAAAAABmkA==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>xlnc - tsc_init - replace skylake with zen</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>SInISQ+vx0Ux7THSSff0SInGSIkF1N6QAEi62zS214LeG0NIichI9+JIiTXl3pAASMHqEmnCQEIPACnBSI09pYFmADHAidaJykyJ+U2J4OjpfV4ASIsdut6QAA==</data>
				<key>MatchOS</key>
				<string>10.14.6</string>
				<key>Replace</key>
				<data>uWQAAcAPMg+2yInGwe4Ig+Y/MdJIichI9/ZIicZIaf4AwusLSAH2SIk9v96QADHSSIn4SPf2SInDSIkd1d6QAEiJNb7ekABmDx+EAAAAAABmDx+EAAAAAABmkA==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - tsc_init - replace skylake with zen part 2</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>RIu70AEAAESLo9QBAAA=</data>
				<key>MatchOS</key>
				<string>10.14.4</string>
				<key>Replace</key>
				<data>SInY6UACAABmDx9EAAA=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - tsc_init - replace skylake with zen part 2</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>RIu72AEAAESLo9wBAAA=</data>
				<key>MatchOS</key>
				<string>10.14.5</string>
				<key>Replace</key>
				<data>SInY6UACAABmDx9EAAA=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - tsc_init - replace skylake with zen part 2</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>RIu72AEAAESLo9wBAAA=</data>
				<key>MatchOS</key>
				<string>10.14.6</string>
				<key>Replace</key>
				<data>SInY6YcCAABmDx9EAAA=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - tsc_init - use TSC calculated from MSR</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>SIkFlGWQAA==</data>
				<key>MatchOS</key>
				<string>10.14.4</string>
				<key>Replace</key>
				<data>TIkllGWQAA==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - tsc_init - use TSC calculated from MSR</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>SIkFLM+QAA==</data>
				<key>MatchOS</key>
				<string>10.14.5</string>
				<key>Replace</key>
				<data>TIklXc+QAA==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>xlnc - tsc_init - use TSC calculated from MSR</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>SIkFZd2QAA==</data>
				<key>MatchOS</key>
				<string>10.14.6</string>
				<key>Replace</key>
				<data>TIkllt2QAA==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - lapic_init - remove version check and panic</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>JfwAAACD+BM=</data>
				<key>MatchOS</key>
				<string>10.13.6,10.14.x</string>
				<key>Replace</key>
				<data>JfAAAADrI5A=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - lapic_interrupt - skip checks and prevent panic</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>gz2UlnAAAHQK</data>
				<key>MatchBuild</key>
				<string>17G65,17G66</string>
				<key>MatchOS</key>
				<string>10.13.6</string>
				<key>Replace</key>
				<data>60gPH4AAAAAA</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - lapic_interrupt - skip checks and prevent panic</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>gz2UfnAAAHQK</data>
				<key>MatchBuild</key>
				<string>17G5019</string>
				<key>MatchOS</key>
				<string>10.13.6</string>
				<key>Replace</key>
				<data>60gPH4AAAAAA</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - lapic_interrupt - skip checks and prevent panic</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>gz2UjnAAAHQK</data>
				<key>MatchBuild</key>
				<string>17G6029,17G6030</string>
				<key>MatchOS</key>
				<string>10.13.6</string>
				<key>Replace</key>
				<data>60gPH4AAAAAA</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - lapic_interrupt - skip checks and prevent panic</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>gz3UlXAAAHQK</data>
				<key>MatchBuild</key>
				<string>17G7024</string>
				<key>MatchOS</key>
				<string>10.13.6</string>
				<key>Replace</key>
				<data>60gPH4AAAAAA</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - lapic_interrupt - skip checks and prevent panic</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>gz2UmHsAAHQK</data>
				<key>MatchOS</key>
				<string>10.14.1</string>
				<key>Replace</key>
				<data>60gPH4AAAAAA</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - lapic_interrupt - skip checks and prevent panic</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>gz3UensAAHQK</data>
				<key>MatchOS</key>
				<string>10.14.3</string>
				<key>Replace</key>
				<data>60gPH4AAAAAA</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - lapic_interrupt - skip checks and prevent panic</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>gz3VWHsAAHQK</data>
				<key>MatchOS</key>
				<string>10.14.4</string>
				<key>Replace</key>
				<data>60gPH4AAAAAA</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - lapic_interrupt - skip checks and prevent panic</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>gz0VwXsAAHQK</data>
				<key>MatchOS</key>
				<string>10.14.5</string>
				<key>Replace</key>
				<data>60gPH4AAAAAA</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>xlnc - lapic_interrupt - skip checks and prevent panic</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>gz31zXsAAHQK</data>
				<key>MatchOS</key>
				<string>10.14.6</string>
				<key>Replace</key>
				<data>60gPH4AAAAAA</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - 2 x mtrr_update_action - fix PAT</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>icCB4v//8P+BygAAAQC5dwIAAA==</data>
				<key>MatchOS</key>
				<string>10.13.x,10.14.1,10.14.3</string>
				<key>Replace</key>
				<data>uXcCAAC4BgEHALoGAQcADx9AAA==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - 2 x mtrr_update_action - fix PAT</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>icCB4v//AP+BygAAAQC5dwIAAA==</data>
				<key>MatchOS</key>
				<string>10.14.4,10.14.5,10.14.6</string>
				<key>Replace</key>
				<data>uXcCAAC4BgEHALoGAQcADx9AAA==</data>
			</dict>
		</array>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>BooterConfig</key>
		<string>0x2A</string>
		<key>CsrActiveConfig</key>
		<string>0x67</string>
		<key>ROM</key>
		<string>UseMacAddr0</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>BiosReleaseDate</key>
		<string>04/22/2019</string>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
		<key>BiosVersion</key>
		<string>IMP11.88Z.F000.B00.1904222000</string>
		<key>Board-ID</key>
		<string>Mac-7BA5B2D9E42DDD94</string>
		<key>BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>BoardSerialNumber</key>
		<string>C02729700QXJG36CB</string>
		<key>BoardType</key>
		<integer>10</integer>
		<key>BoardVersion</key>
		<string>1.0</string>
		<key>ChassisAssetTag</key>
		<string>iMacPro-Aluminum</string>
		<key>ChassisManufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisType</key>
		<string>0x09</string>
		<key>EfiVersion</key>
		<string>220.260.170.0.0</string>
		<key>Family</key>
		<string>iMac Pro</string>
		<key>FirmwareFeatures</key>
		<string>0xFD8FF53F</string>
		<key>FirmwareFeaturesMask</key>
		<string>0xFF9FFF3F</string>
		<key>LocationInChassis</key>
		<string>Part Component</string>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
		<key>Mobile</key>
		<false/>
		<key>PlatformFeature</key>
		<string>0xFFFF</string>
		<key>ProductName</key>
		<string>iMacPro1,1</string>
		<key>SerialNumber</key>
		<string>C02V3WZSHX87</string>
		<key>SmUUID</key>
		<string>C91A52A3-B52A-4516-AC54-A144C1798E00</string>
		<key>Version</key>
		<string>1.0</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>InjectKexts</key>
		<string>Yes</string>
		<key>InjectSystemID</key>
		<true/>
		<key>NvidiaWeb</key>
		<true/>
	</dict>
</dict>
</plist>